BLOCK RESETPATHS;
BLOCK ASYNCPATHS;

LOCATE COMP "clk" SITE "88";
#LOCATE COMP "clk" SITE "88";

LOCATE COMP "datain" SITE "34";
LOCATE COMP "rst" SITE "39";

#LOCATE COMP "TMS" SITE "90";
#LOCATE COMP "TCK" SITE "91";
#LOCATE COMP "TDI" SITE "94";
#LOCATE COMP "TDO" SITE "95";

#FREQUENCY PORT "d_clk" 50.000000 MHz ;
#USE PRIMARY NET "e_clk";

#USE SECONDARY NET "s_clk";

LOCATE COMP "temp_test" SITE "47";

