BLOCK RESETPATHS;
BLOCK ASYNCPATHS;

LOCATE COMP "clk" SITE "39";
#LOCATE COMP "clk" SITE "88";

LOCATE COMP "datain" SITE "34";
LOCATE COMP "rst" SITE "88";

#LOCATE COMP "TMS" SITE "90";
#LOCATE COMP "TCK" SITE "91";
#LOCATE COMP "TDI" SITE "94";
#LOCATE COMP "TDO" SITE "95";
